/* .project-title{
    text-align: center;
    padding-top: 20px;
}
.row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-top: 55px;
}
.col{
    margin-top: 20px;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.card-img{
    border-radius: 1rem;
}

@media screen and (max-width: 600px) {
    .row{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
} */

.project-title{
    text-align: center;
    padding-top: 20px;
}

.card-box{
    background-color: var(--color-bg-variant);
    padding: 10px;
    text-align: center;
}
.col{
    margin-top: 20px;
}